{{!< default}}

<main class="content-index content" role="main"> 
	{{> nav}}
</main>

<div class="post-container grid-cont-post single animated fadeInUp" style="opacity: 1; height: auto;">
{{#post}}
	<div class="the-post">
	<h2 class="post-header"> {{title}}</h2>
            <div class="post-info" style="margin:0 auto;"><center>
                <span class="post-data">
				<time datetime="{{date published_at format="YYYY-MM-DD"}}" itemprop="datePublished" ><i class="icon-clock" style="position:relative;top:2px;left:3px;"></i>&nbsp;&nbsp;{{date published_at timeago="true"}}</time>
				<i class="icon-comment" style="position:relative;top:2px;left:3px;"></i>&nbsp;<a href="{{url}}#disqus_thread" title="comment">&nbsp;0&nbsp;Comments</a>
				</span>            
				<a href="#" class="post-data"> <i class="icon-user"></i> {{author.name}} </a></center>
             </div>
			 

	<div class="post-text">
	{{content}}
	</div>

            
	<div class="meta"><b><b>Share with : </b>
		  <span class="facebook-share"><a href="https://www.facebook.com/sharer/sharer.php?u={{@blog.url}}{{{url}}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">&nbsp;<i class="icon-facebook"></i>&nbsp;</span> </a>
		  <span class="twitter-share"><a href="http://twitter.com/share?text=&amp;url={{@blog.url}}{{{url}}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">&nbsp;<i class="icon-twitter"></i>&nbsp;</a></span>
		  <span class="google-share "><a href="https://plus.google.com/share?url={{@blog.url}}{{{url}}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">&nbsp;<i class="icon-googleplus"></i>&nbsp;</a></span>
		   {{#if tags}}
		   
		  <nav role="navigation" class="tag pas">
		    {{tags separator=" | "}}  
			</nav></b>
			{{/if}}
	</div> 
	</div>
{{/post}}
 </div>
<div class="comment">
 <div id="disqus_thread"></div>
    <script type="text/javascript">
	{{> config}}
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">Comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    	 
	 </div>
</div>
